@{
    ViewData["Title"] = "Employee";
}

<div>
    <div class="row">
        <div class="row-cols-3">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Employee">Create</a>
        </div>
    </div>
</div>