@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100 h-100">
    <h1 class="display-4">Welcome CT Employee Management</h1>
    <br/>
    <p class="h3">In this video, I am going to tech you <b class="text-primary">.NET 8</b> by build a sample CRUD Employee Management.</p>
    
    <br/>
    <p class="text-info h3">In this tutorial we are going to learn: </p>
    <br/>
    <ol class="h5">
        <li>.NET 8</li>
        <li>SQL Server</li>
        <li>EntityFramework</li>
        <li>Web Development</li>
    </ol>
</div>
